

/* Our Custom CSS Tags */

:root {
  --primary: gold;
  --secondary: white;
  --tertiary: rgb(197, 190, 190);
  --complementer: #61dafb;
} 

body {
  background-color: var(--complementer);
}

.top-bar {
  padding: 10px;
  
}

.date-module {
  text-align: center;
}

.name-module {
  letter-spacing: 0.2cm;
  text-align: center;
}

.timer-module {
  text-align: center;
}

.start-body{
  display: inline;
}

.wip-body {
  display: inline;
}

