.App {
  text-align: center;
  padding: 20px
}

.jumbotron {
  background: linear-gradient(to right, navy, #c3faec, white, #c3faec, navy);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-deck {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.card {
  text-align:center;
}

/* Our Custom CSS Tags */

.name-module {
  letter-spacing: 0.2cm;
}

.top-bar {
  display:flex;
  flex-direction: row;
}

.start-body{
  display: inline;
}

.wip-body {
  display: inline;
}