

/* Our Custom CSS Tags */

:root {
  --primary: gold;
  --secondary: white;
  --tertiary: rgb(197, 190, 190);
  --complementer: #61dafb;
} 

body {
  background-color: var(--complementer);
}
.name-module {
  letter-spacing: 0.2cm;
}



.start-body{
  display: inline;
}

.wip-body {
  display: inline;
}