:root {
    --primary: gold;
    --secondary: white;
    --tertiary: rgb(197, 190, 190);
    --complementer: #61dafb;
  } 

.name-module {
    background: linear-gradient(to right, var(--primary), var(--secondary), var(--primary));
}

  
  